@font-face {
  font-family: 'Noto Sans Mono CJK JP';
  font-style: normal;
  font-weight: 400;
  src: url('https://dromozoa.s3.amazonaws.com/mirror/NotoSansCJKjp-2017-04-03/NotoSansMonoCJKjp-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans Mono CJK JP';
  font-style: normal;
  font-weight: 700;
  src: url('https://dromozoa.s3.amazonaws.com/mirror/NotoSansCJKjp-2017-04-03/NotoSansMonoCJKjp-Bold.otf') format('opentype');
}

/*
 * https://github.com/tbastos/vim-lua
 * https://github.com/reedes/vim-colors-pencil
 */

body {
  margin: 0;
  background-color: #F1F1F1; /* white */
}

/*
 * number and source
 */

.number {
  position: absolute;
  padding: 0 0.5rem;

  font-family: 'Noto Sans Mono CJK JP', monospace;
  white-space: pre;
  font-weight: 400;

  color: #C6C6C6; /* ligher_gray */
  text-align: right;
}

.source {
  position: absolute;

  font-family: 'Noto Sans Mono CJK JP', monospace;
  white-space: pre;
  font-weight: 400;

  color: #212121; /* black */
}

.source span {
  transition: background-color 400ms;
}

.source span.active {
  background-color: #F3E430; /* yellow */
  transition: background-color 400ms;
}

.source .highlight-comment {
  color: #B2B2B2; /* light_gray */
}

.source .highlight-constant {
  color: #20A5BA; /* dark_cyan */
}

.source .highlight-statement {
  color: #10A778; /* dark_green */
}

.source .highlight-statement {
  color: #10A778; /* dark_green */
}

.source .highlight-structure {
  color: #C30771; /* dark_red */
}

/*
 * tree
 */

.tree {
  position: fixed;
  right: 0;

  font-family: 'Noto Sans Mono CJK JP', monospace;
  font-weight: 400;
}

.tree svg {
  display: block;
}

.tree svg text {
  fill: #212121; /* black */
  stroke: none;
  dominant-baseline: central;
  text-anchor: middle;
}

.tree svg .viewport > rect {
  fill-opacity: 0.1;
}

.tree svg .edges path {
  fill: none;
  stroke: #212121; /* black */
}

.tree svg .nodes use {
  fill: #FFFFFF; /* actual_white */
  stroke: #212121; /* black */
  transition: fill 400ms;
}

.tree svg .nodes use.active {
  fill: #F3E430; /* yellow */
  transition: fill 400ms;
}

/*
 * menu
 */

.menu {
  position: fixed;
  top: 0;
  right: 0;

}
