@font-face {
  font-family: 'Noto Sans Mono CJK JP';
  font-style: normal;
  font-weight: 400;
  src: url('https://dromozoa.s3.amazonaws.com/mirror/NotoSansCJKjp-2017-04-03/NotoSansMonoCJKjp-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans Mono CJK JP';
  font-style: normal;
  font-weight: 700;
  src: url('https://dromozoa.s3.amazonaws.com/mirror/NotoSansCJKjp-2017-04-03/NotoSansMonoCJKjp-Bold.otf') format('opentype');
}

/*
 * https://github.com/tbastos/vim-lua
 * https://github.com/reedes/vim-colors-pencil
 */

body {
  margin: 0;
  background-color: #F1F1F1; /* white */
}

.number {
  position: absolute;
  padding: 0 0.5rem;

  font-family: 'Noto Sans Mono CJK JP', monospace;
  white-space: pre;
  font-weight: 400;

  color: #C6C6C6; /* ligher_gray */
  text-align: right;
}

.source {
  position: absolute;

  font-family: 'Noto Sans Mono CJK JP', monospace;
  white-space: pre;
  font-weight: 400;
}

.tree {
  position: absolute;
  right: 0;

  font-family: 'Noto Sans Mono CJK JP', monospace;
  font-weight: 400;
}

.tree svg {
  display: block;
}

.tree svg .viewport rect {
  fill: #FF0000;
  fill-opacity: 0.1;
}

.tree svg .edges path {
  fill: none;
  stroke: #000000;
}

.tree svg .node rect {
  fill: #FFFFFF;
  fill-opacity: 0.5;
  stroke: #000000;
}

.tree svg .nodes text {
  dominant-baseline: central;
  text-anchor: middle;
}

.highlight-comment {
  color: #B2B2B2; /* light_gray */
}

.highlight-constant {
  color: #20A5BA; /* dark_cyan */
}

.highlight-statement {
  color: #10A778; /* dark_green */
}

.highlight-statement {
  color: #10A778; /* dark_green */
}

.highlight-structure {
  color: #C30771; /* dark_red */
}


/*
comment
constant
  string
  number
  boolean
identifier
  function
statement
  conditional
  repeat
  label
  operator
  keyword
  exception
type
  structure

constant
  string
  character
  number
    float
  boolean
identifier
  function
statement
  conditional
  repeat
  label
  operator
  keyword
  exception
type
  storage class
  structure
  typedef
sepecial
  special char
  tag
  delimiter
  sepcial comment

number
string
operator
statement
structure
*/

